.taskCard {
  width: 100%;
  min-height: 4.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  color: var(--gray-100);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.taskTitle {
  max-width: 50rem;
}
.icon {
  color: var(--gray-300);
  transition: color 0.2s ease;
}
.deleteButton {
  cursor: pointer;
  border-radius: 4px;
  height: 28px;
  width: 28px;
  padding: 2px;
  background-color: transparent;
  border: 0;
  margin-left: 0.75rem;
}
.deleteButton:hover {
  cursor: pointer;
  background-color: var(--gray-400);
}
.deleteButton:hover .icon {
  color: var(--danger);
}

.checkbox {
  position: relative;
}

.checkbox label {
  background-color: transparent;
  border: 2px solid var(--blue);
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.checkbox label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: '';
  height: 5px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 2.5px;
  transform: rotate(-45deg);
  width: 10px;
}

.checkbox input[type='checkbox'] {
  visibility: hidden;
}

.checkbox input[type='checkbox']:checked + label {
  background-color: var(--purple);
  border-color: var(--purple);
}

.checkbox input[type='checkbox']:checked + label:after {
  opacity: 1;
}
